---
import BasicLayout from "../layouts/basicLayout.astro"
---

<script>
    const _ = window; const __ = _[atob("ZGV2aWNlUGl4ZWxSYXRpbw==")]; function ___() {
        const ____ = _[atob("ZGV2aWNlUGl4ZWxSYXRpbw==")] >= __ * 1.5;
        const _____ = document[atob("cXVlcnlTZWxlY3Rvcg==")]('p');
        if (____) {
            _____[atob("dGV4dENvbnRlbnQ=")] = atob("cXVhcms=");
        } else {
            _____[atob("dGV4dENvbnRlbnQ=")] = atob("dGhlIGFuc3dlciBpcyB0aW55LiB5b3Ugd2lsbCBoYXZlIHRvIHVzZSBhIG1hZ25pZnlpbmcgZ2xhc3Mu");
        }
    }
    _.addEventListener(atob("cmVzaXpl"), ___);

</script>

<BasicLayout>
    <h1>2. here</h1>
    <p>the answer is tiny. you will have to use a magnifying glass.</p>
</BasicLayout>