---
import BasicLayout from "../layouts/basicLayout.astro"

---

<BasicLayout>
	<h1 style="text-align: center;">
		<img width="32px" src="https://www.userbenchmark.com/resources/img/wri/creatives/assets/flame.gif"
			alt="">notbien
		<img width="32px" src="https://www.userbenchmark.com/resources/img/wri/creatives/assets/flame.gif" alt="">
	</h1>
	<p>puzzle game based on <a href="http://notpron.org/notpron/levelone.htm">notpron</a></p>
	<br />
	<a href="one">Go to the first puzzle</a>
</BasicLayout>