---
import BasicLayout from "../layouts/basicLayout.astro"

---

<style>
    span {
        color: #bbbbff;
    }
</style>

<BasicLayout>
    <h1>1. one</h1>
    <p>t<span>h</span>e first puzzle you <span>e</span>ncounter. how ha<span>r</span>d can it b<span>e</span>?</p>

</BasicLayout>