---
import BasicLayout from "../layouts/basicLayout.astro"

---

<style is:global>
    div {
        overflow: hidden;
    }

    img[alt] {
        margin-left: -16px;
        text-indent: 16px;
    }
</style>

<BasicLayout>
    <h1>3. quark</h1>
    <div>
        <img src='here.png' width="320px" height="320px" alt="something does not match" />
    </div>
</BasicLayout>